@import "../../style.scss";

    

.leftBar{
    @include themify($themes){
    &::-webkit-scrollbar{
        width: 0.2rem;
    }
    &::-webkit-scrollbar-track{
        background-color: themed("bg");
    }
    &::-webkit-scrollbar-thumb{
        background-color: themed("border");
    }

    @include mobile{
        display: none;
    }

    flex: 2.5;
    position: sticky;
    top: 4.3rem;
    height: calc(100vh - 4.3rem);
    overflow-y: auto;
    background-color: themed("bg");
    color: themed("textColor");
    .container{
        padding: 1.2rem;

        hr{
            margin: 1.2rem 0;
            border: none;
            height: 0.1rem;
            background-color: themed("border");
        }

        .menu{

            display: flex;
            flex-direction: column;
            gap: 1rem;

            span{
                font-size: 0.8rem;
            }

            .user{
                display: flex;
                align-items: center;
                gap: 0.8rem;

                img{
                    width: 1.8rem;
                    height: 1.8rem;
                    object-fit: cover;
                    border-radius: 50%;
                    cursor: pointer;
                }

                span{
                    cursor: pointer;
                    font-size: 0.9rem;
                }

            }

            .item{
                display: flex;
                align-items: center;
                gap: 0.8rem;

                img{
                    width: 1.8rem;
                    cursor: pointer;
                }

                span{
                    cursor: pointer;
                    font-size: 0.9rem;
                }
            }

        }



    }

}

}